body {
    font-family: sans-serif;

}
ul { /*Basic Navigation*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #ff33cc;

}



/*Block*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f570d4;

}
li a:hover { /*Changes the link color on hover*/
    background-color: #555;
    color: white;

}
li a:active { /*Mark and active page in Navigation*/
    background-color: #555;
    color: white;

}
li a:hover:not(.active) {
    background-color: #993366;
    color: white;

}


/*Center and Border*/
ul {
    border: 1px solid #555;

}

li {
    text-align: center;
    border-bottom: 1px solid #555;

}
li:last-child {
    border-bottom: none;

}
