/*For NavBar*/
ul {
    list-style-type: none;
    margin: -8px;
    padding: 0px;
    width: 200px;
    background-color: rgb(8, 8, 8);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    
    
}

li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    font-weight: 600;

}
li a.active {
    background-color: rgb(207, 161, 99);
    color: black;
    border-radius: 15px;
    text-align: left;
    
}
li a:hover:not(.active) {
    background-color: blanchedalmond;
    color: black;
    border-radius: 20px 0px 0px 20px;
    transition: linear 125ms;
    transition-delay: 30ms;
    
}

.photoLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 50%;
    background-color: white;
    border-style: groove;
    border-color: rgb(235, 235, 235);
    border-radius: 5px;
    width: 100px;
    height: 80px;
    margin-bottom: -50px;
    
}



/*For the main body of the page*/
h1 {
    display: block;
    padding-top: 10px;
    margin: 15px 15px 0px 0px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: peru;
    width: 104.2%;
    height: 70px;
    border-radius: 0px 0px 15px 15px;

}
h2 {
    float: left;
    margin-left: 100px;
}


.centeredName {
    
    width: 462.3%;
    height: 70px;
    margin: -5px 0px 0px -30px;

}
/*.imageProps {
    width: 100%;
    height: 200px;
}*/

.bakeryName {
    float: left;
    margin-left: 2%;
    margin-top: -1%;
    /*margin: 8px;*/
}

.bodyContent {
    float: left;
    margin-top: 560px;
    margin-left: -265px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: 500;
    border-style: inset;
    border-radius: 15px;
    border-color: black;
    border-width: 3.5px;

}
.bodyContentTwo {
    float: left;
    margin-top: 165px;
    margin-left: -735px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: 500;

}





.photoOneRight {
    margin-top: 145px;
    margin-right: 25px;
    border-style: ridge;
    border-radius: 5px;
    border-color: azure;
    float: right;
}
.photoTwoRight {
    margin-top: 540px;
    margin-right: -455px;
    border-radius: 5px;
    float: right;
}